@model UBooks.Models.Book

@{
    ViewBag.Title = (ViewBag.IsForSell ? "Sell" : "Purchase") + " a book";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Add", "Books"))
{
    @Html.ValidationSummary(true, "Please fix the following errors.")
    <div class="form-group">
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Title)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Author)
        @Html.TextBoxFor(m => m.Author, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Author)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PublishDate)
        @*@Html.TextBoxFor(m => m.PublishDate, "{0:d MMM yyyy}", new { @class = "form-control" })*@
        @Html.TextBoxFor(m => m.PublishDate, new { type = "date", @class="form-control" })
        @Html.ValidationMessageFor(m => m.PublishDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Description)
    </div>


    @Html.HiddenFor(m => m.Id)
    <input data-val="true" data-val-required="The IsForSell field is required." id="IsForSell" name="IsForSell" type="hidden" value="@(ViewBag.IsForSell ? "true" : "false")" />
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}