@model IEnumerable<UBooks.Models.Book>

@{
    ViewBag.Title = "Books for sell";
}

@* Book Published Date, Advertisement Date, Author, Is Expired *@

<h2>@ViewBag.Title</h2>

<table id="books" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Advertisement Date</th>
            <th>Is Expired Advertisement</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var book in Model)
    {
        <tr>
            <td>@Html.ActionLink(book.Title, "Details", new {id = book.Id})</td>
            <td>@book.Author</td>
            <td>@book.AddedDate</td>
            <td>@(book.ExpiredAdvertisement ? "Yes" : "No")</td>
        </tr>
    }
    </tbody>
</table>