@model UBooks.Models.Book

@{
    ViewBag.Title = "Edit";
}

<h2>Edit a book advertisement:</h2>

@using (Html.BeginForm("Edit", "Books"))
{
    @Html.ValidationSummary(true, "Please fix the following errors.")
    <div class="form-group">
        @Html.LabelFor(m => m.Id)
        @Html.TextBoxFor(m => m.Id, new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.Id)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Title)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Author)
        @Html.TextBoxFor(m => m.Author, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Author)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PublishDate)
        @*@Html.TextBoxFor(m => m.PublishDate, "{0:d MMM yyyy}", new { @class = "form-control" })*@
        @Html.TextBoxFor(m => m.PublishDate, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.PublishDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AddedDate)
        @*@Html.TextBoxFor(m => m.PublishDate, "{0:d MMM yyyy}", new { @class = "form-control" })*@
        @Html.TextBoxFor(m => m.AddedDate, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control", disabled = "disabled" })
        @Html.ValidationMessageFor(m => m.AddedDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Description)
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.ExpiredAdvertisement) Select this to mark your advertisement as expired.
        </label>
    </div>

    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

